window-rule {
    match app-id="^steam$"

    open-floating false
    open-maximized    false
    open-on-workspace "games"
    tiled-state true
}

window-rule {
    match app-id="^steam$" title="Sign in to Steam"

    open-floating true
    open-on-workspace "games"
}

window-rule {
    match app-id="^voidstranger.exe$"

    open-maximized true
    open-on-workspace "games"
}
