include "./minecraft.kdl"
include "./steam.kdl"

window-rule {
    match app-id="^CENTERED$"

    default-column-width { proportion 1.0; }
    open-floating true
}

window-rule {
    match app-id="^gtk-test$"

    default-floating-position x=100 y=100 relative-to="bottom-right"
    open-floating true
}

window-rule {
    match title="gmrun"
    match app-id="Pinentry-gtk"

    open-floating true
}

window-rule {
    match app-id="factorio"

    open-floating     false
    open-maximized    false
    open-on-workspace "game"
    tiled-state true
}

window-rule {
    match app-id="firefox"

    // opacity 0.8
}
