input {
    keyboard {
        xkb {
            model "pc105"
            layout "de"
            variant ""
            options "ctrl:nocaps"
        }
    }
    touchpad { tap; }
    warp-mouse-to-focus mode="center-xy-always"
    focus-follows-mouse
    mod-key "Alt"
}

gestures {
    hot-corners {
        off
    }
}

