prefer-no-csd

layout {
    gaps 0.0
    preset-column-widths {
        proportion 1.0
    }
    default-column-width {
        proportion 1.0
    }
    focus-ring { off; }
    border { off; }
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
    center-focused-column "never"
    background-color "#000000"
}

animations { off; }
